<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>dhd_usb</string>
	<key>CFBundleName</key>
	<string>dhd_usb</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.brcm.driver.dhd_usb</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
        <dict>
                <key>dhd_usb</key>
                <dict>
                        <key>CFBundleIdentifier</key>
                        <string>com.brcm.driver.dhd_usb</string>
                        <key>IOClass</key>
                        <string>DhdUsbEther</string>
                        <key>IOProviderClass</key>
                        <string>IOUSBDevice</string>
                        <key>idProduct</key>
                        <integer>3036</integer>
                        <key>idVendor</key>
                        <integer>2652</integer>
                        <key>IOResourceMatch</key>
                        <string>IOKit</string>
                        <key>IOUserClientClass</key>
                        <string>dhdioctl_kernel</string>
                </dict>
        </dict>
	<key>OSBundleLibraries</key>
        <dict>
                <key>com.apple.iokit.IONetworkingFamily</key>
                <string>1.5.0</string>
                <key>com.apple.iokit.IOUSBFamily</key>
                <string>1.8</string>
                <key>com.apple.kernel.libkern</key>
                <string>6.0</string>
                <key>com.apple.kpi.bsd</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.iokit</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.libkern</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.mach</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.unsupported</key>
                <string>8.0.0</string>
        </dict>
</dict>
</plist>
