<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>dhd_sdio</string>
	<key>CFBundleName</key>
	<string>dhd_sdio</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.brcm.driver.dhd_sdio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
        <dict>
                <key>dhd_sdio</key>
                <dict>
                        <key>CFBundleIdentifier</key>
                        <string>com.brcm.driver.dhd_sdio</string>
                        <key>IOClass</key>
                        <string>DhdSdioEther</string>
                        <key>IOMatchCategory</key>
                        <string>IODefaultMatchCategory</string>
                        <key>IONameMatch</key>
                        <array>

                                <string>pci8086,27a3</string>

                        </array>
                        <key>IOProviderClass</key>
                        <string>IOPCIDevice</string>
                        <key>IOUserClientClass</key>
                        <string>dhdioctl_kernel</string>
                </dict>
        </dict>

	<key>OSBundleLibraries</key>
        <dict>
                <key>com.apple.iokit.IONetworkingFamily</key>
                <string>1.5.0</string>
                <key>com.apple.iokit.IOPCIFamily</key>
                <string>1.6</string>
                <key>com.apple.kernel.libkern</key>
                <string>6.0</string>
                <key>com.apple.kpi.bsd</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.iokit</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.libkern</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.mach</key>
                <string>8.0.0</string>
                <key>com.apple.kpi.unsupported</key>
                <string>8.0.0</string>
        </dict>

</dict>
</plist>
