;; Default configuration of ARMulator when starting AXD initially
;; Copyright (c) 1996-1998 ARM Limited. All Rights Reserved.

;; RCS $Revision: 1.1 $
;; Checkin $Date: 2006-06-24 02:12:28 $
;; Revising $Author: jqliu $

PROCESSOR=ARM7TDMI
CPUSPEED=0
FPE=FALSE
ENDIANNESS=L
USEMAPFILE=FALSE
MAPFILEPATH=
TARGET_HW_ENDIAN=False
TARGET_DIR=.

;; EOF armulate.cnf
