<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRCM_IP_TAG</key>
	<string>Broadcom-WL-IPTag/Private1743:</string>
	<key>IFPkgDescriptionDescription</key>
	<string>Install the Broadcom Wireless LAN driver for the BCM43XX chipsets.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Broadcom BCM43XX WLAN Driver</string>
</dict>
</plist>
