<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BRCM_IP_TAG</key>
	<string>Broadcom-WL-IPTag/Private1743:</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.broadcom.driver.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>EPI_VERSION_STR</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>EPI_VERSION_DEV</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Broadcom 802.11 USB</key>
		<dict>
			<key>wl_msg_level</key>
			<integer>1</integer>
			<key>wl_msg_level2</key>
			<integer>0</integer>
			<key>wl_assert_bypass</key>
			<false/>
			<key>CFBundleIdentifier</key>
			<string>com.broadcom.driver.${PRODUCT_NAME:rfc1034Identifier}</string>
			<key>IOClass</key>
			<string>AirPort_BrcmUSB43xx</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
                        <key>idVendor</key>
                        <integer>2652</integer>
                        <key>idProduct</key>
                        <integer>48407</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.2</string>
		<key>com.apple.iokit.IO80211Family</key>
		<string>150.7</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>3.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
